.container {

font-family: system-ui, -apple-system, BlinkMacSystemFont, 
'Segoe UI', Roboto, Oxygen,
 Ubuntu, Cantarell, 
 'Open Sans', 
 'Helvetica Neue', sans-serif;
  width: 100%;
  min-height: 100vh;
  padding-top: 10px;
  background: linear-gradient(135deg,#d3d342,#8dbc37);
  color: #717450;
}

h1 {
  margin: 0 0 30px;
}


.calculator{
    width: 100%;
    max-width: 600px;
    margin-left: 10%;
    margin-top: 10%;
}
.calculator h1{
    font-size: 50px;
    
}

.calculator h1 span {
  font-size: 70px;
  color: #667540;       /* soft yellow */
  opacity: 0.85;
  font-weight: 6000;
  letter-spacing: 2px;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif
}

.input-box{
    margin: 40px 0;
    padding: 35px;
    border-radius: 10px;
    background: rgba(255, 255, 255, 0.3);
    display: flex;
    align-items: center;
}
.input-box input{
    flex: 1;
    margin-right: 20px;
    padding: 14px 20px;
    border: 0;
    outline: 0;
    font-size: 18px;
    border-radius: 5px;
    position: relative;
}
.input-box button{
    background: #c0c09c;
  border: 0;
  outline: 0;
  padding: 15px 30px;
  border-radius: 5px;
  font-weight: 500;
  color: #58a82d;
  cursor: pointer;
}
.input-box input::-webkit-calendar-picker-indicator {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;

  width: 100%;
  height: 100%;

  opacity: 0;        /* invisible but clickable */
  cursor: pointer;
}
.result{
    font-size: 50px;
}.result span{
    color: aqua;
}

#result {
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 
  'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

#result span {
  color: #c04a4a;
}




